# 👋 “Hey” from the Praxis team
# use this config file to control how npm behaves: https://docs.npmjs.com/misc/config

# set registry to Min's private npm repository: Artifactory
registry="https://binrepo.minhenry.com/artifactory/api/npm/npms"

# always save the exact version of a new dependency
# read more at https://praxis.minhenry.com/guides/dependency-management
save-exact=true

# set audit to false to prevent this potentially harmful advice from showing up
# npm audit fix is causing unintended consequences in the dependency tree
audit=false

# set to true to allow Praxis 12 through Praxis 16 dependency installation to use npm 4-6 behavior. Praxis 17 onward does not rely on this configuration, but your app may still need it depending on non-Praxis dependencies.
legacy-peer-deps=true
